body {
	background-color: #8bc6ec;
	background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
	min-height: 100vh;

	overflow-x: hidden;
}
.txt-white {
	color: #fff;
}
.card {
	background: transparent !important;
}

#time_quanta {
	background-image: linear-gradient(
		to left,
		rgb(255, 241, 241),
		rgb(205, 229, 255)
	);
}

.gantt-box {
	position: relative;
	border: 3px solid #73ad21;
	height: 5px;
	padding: 50px;
	text-align: center;
}

.gantt-box-left {
	position: absolute;
	left: 0;
	margin-left: 3px;
	bottom: 0;
}

.gantt-box-right {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 3px;
}

#time_quanta {
	width: auto;
}

#start_btn {
	background-color: hsl(125, 100%, 37%);
	transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	color: aliceblue;
}

#start_btn:hover {
	opacity: 0.8;
}

#drop_btn {
	background-color: hsl(125, 62%, 50%);
	transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	color: aliceblue;
}

#drop_btn:hover {
	opacity: 0.8;
}

#vis_btn {
	background-color: hsl(273, 100%, 66%);
	transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	color: aliceblue;
}

#vis_btn:hover {
	opacity: 0.8;
}

.cpu {
	background: url("../images/cpu.png") no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	margin: 20px;
}

.readyqueue {
	background: url("../images/fast-time.png") no-repeat;
	background-size: contain;
	height: 120px;
	width: 120px;
}

/* .completedqueue
{
	background: url('../images/checked.png') no-repeat;
	background-size: contain;
	margin: 20px 0 20px 0px;
	height: 100px;
	width: 100px;
} */
.fitem {
	display: flex;
	/* border: 2px solid #73AD21; */
	width: 120px;
	height: 120px;
	/* margin: 20px; */
	justify-content: center;
	align-items: center;
}

.flexible {
	display: flex;
	height: 100%;
	width: 100%;
}

.triangle {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 4;
	border-width: 0 80px 80px 0;
	border-style: solid;
	background-color: #e6e7e8;
	display: block;
	/*border-radius:3px 0 0 0;*/
	border-color: transparent #fff transparent #fff;
}

.logo {
	position: absolute;
	top: 3px;
	right: 10px;
	z-index: 5;
}

@media only screen and (max-width: 600px) {
	.triangle {
		border-width: 0 65px 50px 0;
	}
}

@media only screen and (min-width: 768px) {
	.triangle {
		border-width: 0 80px 80px 0;
	}
}
.btn-new {
	background-color: #fff;
	padding: 1rem 2rem;
	margin: 2rem;
}
.btn-new:link,
.btn-new:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	position: relative;
	animation: slideInUp 1s ease-in-out;
}
.btn-new:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s ease-in-out;
}
.btn-new:active {
	transform: translateY(-1px);
	box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.1s ease-in-out;
}
.btn-new::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.btn-new:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.algo-button {
	background-color: #fff;
	padding: 10rem 2rem;
	margin: 2rem;
	color: black;
}
#start_btn {
	background-color: orange;
	font-weight: 700;
	padding: 0rem 2rem;
}
.names {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
	width: max-content;
	align-items: center;
	margin: auto;
	color: #ffff;
	padding: 1.5rem 1rem;
	border-radius: 2rem;
	-webkit-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.name {
	border-right: 2px solid rgb(196, 88, 38);
	padding: 0rem 2rem;
}
.nob {
	border-right: none;
}
.name h5 {
	color: #ffffff;
	opacity: 0.8;
}
.name h6 {
	color: #ffffff;
	opacity: 0.6;
}
